# .travis.yaml
language: generic
os: linux
dist: xenial
before_install:
    - pyenv versions
    - pyenv shell 3.7
    - pip3 install --upgrade pip
after_success:
    - pwd
before_deploy:
    # install PyGithub
    - pip3 install PyGithub
    # download githubrelease.py
    - ls -al
    - cd ..
    - ls
    - zip Auctionator-Classic-$TRAVIS_TAG.zip Auctionator/*
    - cd -
    - mv ../Auctionator-Classic-$TRAVIS_TAG.zip ./Auctionator-Classic-$TRAVIS_TAG.zip
    - wget https://raw.githubusercontent.com/Immueggpain/citools/master/githubrelease.py
    - pwd
    - ls -al
deploy:
    provider: script
    script: 
        - python3 githubrelease.py "Auctionator-Classic-$TRAVIS_TAG.zip"
        - pwd
        - ls -al
    cleanup: false
    on:
        tags: true
